AUTHACTION_TENANT_DOMAIN=your-authaction-tenant-domain
AUTHACTION_CLIENT_ID=your-authaction-client-id
AUTHACTION_CLIENT_SECRET=your-authaction-client-secret
NUXT_SECRET=your-secure-random-string
NUXT_AUTH_ORIGIN=http://localhost:3000
